.icon-phone-hang-up {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 84px;
    color: #dc0909;
}
.footer{
	width: 600px;
    height: 120px;
    background-color: #fff;
    margin-top: 360px;
    position: absolute;
    z-index: 2;
}
.connect{
    margin-top: -240px;
    font-size: 24px;
    font-style: italic;
}
.microphone{
    top: 50%;
    left: 35%;
}
.microphone, 
.speaker{
    position:absolute;
    transform: translate(-50%, -50%);
    color:#33364e;
    font-size: 32px;  
}

.speaker{
    top: 50%;
    left: 65%;
}
