.msg-header{
    background-color: white;
    width: 600px;
    height: 70px;
}
.msg-header-img-container{
	width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    margin-left: 80px;
    margin-top: 11px;
 box-shadow: 1px 1px 10px #888888;
}

.small-anne{
	width: 50px;

}