.msg-header{
    background-color: white;
    width: 600px;
    height: 70px;
    position: relative;
}
.msg-header-img-container{
	width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    margin-left: 80px;
    margin-top: 11px;
 box-shadow: 1px 1px 10px #888888;
}

.small-img{
	width: 100px;
    margin-left: -21px;

}
.chat-name{
    margin-left: 145px;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 600;
}

.chat-phone{
	margin-left: 145px;
    padding-top: 10px;
    line-height: 5px;
}

.button-call{
	width: 42px;
    height: 42px;
    margin-top: -36px;
    margin-left: 480px;
    background-image: url(img/phone-default.png);
    background-size: 42px;

}
.button-call:hover{
	background-image: url(img/phone-active.png);
}
.messages{
	margin-top: 20px;
	overflow-y: scroll;
    overflow-x: hidden;

}
.message{
	background-color: #33364e;
    width: 330px;
    height: 150px;
    margin-left: 100px;
    margin-bottom: 20px;
    color: white;
}
.message:nth-child(even){
	background-color: #EBF1FC;
	margin-left: 200px;
	color: #33364e;
	font-weight: 600;
}
.message:nth-child(even)::before{
	 margin-left: 330px;
	border-color: transparent  transparent  transparent #EBF1FC;
}
.message::before { 
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 10px solid;
    border-color: transparent #33364e transparent transparent;
    margin-left: -20px;
    padding-top: 0px;
    position: absolute;
    margin-top: 10px;
}

.message-text{
	width: 300px;
    font-size: 25px;
    
    margin-left: 20px;
    margin-top: 10px;
    position: absolute;
}
.m1 {
	height: 130px;
}

.m2{
	height: 120px;
}

.m3{
	height: 60px;
}

.msg-header-img-container:hover{
	box-shadow: 0px 0px 10px #fff
}

.icon-phone {
   position:absolute;
   transform: translate(-50%, -50%);
   color:#94B5EB;
   font-size: 36px; 
  top: 50%;
  left: 85%;

}

.icon-phone:hover
{
   color:#33364e;
}