.call-input{
	border: 3px solid #94B5EB;
    width: 350px;
    height: 50px;
    text-indent: 20px;
    font-size: 24px;
}
.button-call{
	width: 36px;
    height: 36px;
    position: absolute;
    margin-top: -48px;
    margin-left: 428px;
    background-image: url(img/phone-default.png);
    background-size: 36px;
}

.button-call:hover{
	background-image: url(img/phone-active.png);
}
.call-bar{
	margin: auto;
    width: 600px;
    margin-left: 120px;
    margin-top: 10px;
    position: relative;
}

.contact{
	width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
}

.center-contact{
	box-shadow: 2px 2px 20px #888888;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
}
.contact-sarah{
  margin-top: -390px;
    margin-left: 560px;
}
.contact-thomas{
    margin-top: -410px;
    margin-left: 410px;
}

.contact-anne{
    margin-top: -410px;
    margin-left: 775px;
}
.contact-james{
    margin-top: -210px;
    margin-left: 470px;
}
.contact-jenna{
    margin-top: -210px;
    margin-left: 710px;
}
.img-thomas{
	width: 200px;
    margin-left: -70px;
}
.img-jenna{
	    width: 150px;
    margin-left: -28px;
}
.img-anne{
    width: 120px;
    margin-left: -13px;
}
.img-james{
	     width: 100px;
    margin-left: 0px;
}
.img-sarah{
    width: 270px;
    margin-left: -48px;
}
.call-contact-name{
	color: black;
	position: absolute;
    margin-top: -230px;
    margin-left: 574px;
    font-weight: 600;
}
.contact:hover,
.center-contact:hover{
	box-shadow: 0px 0px 0px #888888;
}